@media screen and (max-width: 980px) {
    body {
        width: 980px;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 768px;
    }
}

@media screen and (max-width: 640px) {
    body {
        width: 640px;
    }

    header {
        position: static;
    }
}